{{ define "main" }}
<main role="main">
	<h2>{{.Title}}</h2>
	{{- with $start := $.Params.start | time }}
	{{- with $end := $.Params.end | time }}
	<time>{{dateFormat "2006–01–02 15:04" $start}} ({{$end.Sub $start}})</time>
	{{- end }}
	{{- end }}
	{{.Content}}
</main>
{{ end }}
