{{ define "main" }}
<main role="main">
	<h1>{{ .Title }}</h1>
	{{- .Content }}
	<ul>
	{{- range $idx, $page := .Pages }}
	<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
	{{- end }}
	</ul>
</main>
{{ end }}
