:root {
	--color-accent: {{ .Param "Style.accentPrimary" | default "#81a1c1" }};
	--color-accent-secondary: {{ .Param "Style.accentSecondary" | default "#a3be8c" }};
	--color-accent-subtle: {{ .Param "Style.accentSubtle" | default "#575757" }};
	--color-dark-bg: {{ .Param "Style.backgroundDark" | default "#232432" }};
	--color-light-bg: {{ .Param "Style.backgroundLight" | default "#fcfcfc" }};
}

.calendar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1px;
	background-color: var(--color-light-bg);
	border: 1px solid var(--color-dark-bg);
	margin-top: 1rem;
	position: relative;
}

.calendar > .header {
	background: var(--color-accent-secondary);
	color: var(--color-light-bg);
	padding-left: 0.5rem;
}

.calendar > .cell {
	min-height: 10rem;
	min-width: 0;
}

.calendar > .cell:target a.more {
	display: none;
}

.calendar > .cell:target {
	border-bottom: none;
}

.calendar > .cell .expander {
	padding: none;
	margin: none;
}

.calendar > .cell:target .expander {
	background-color: var(--color-light-bg);
	border: 1px solid var(--color-accent-secondary);
	height: 200%;
	position: relative;
}

.calendar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.calendar > .cell li.more ~ li {
	display: none;
}

.calendar > .cell:target li.more ~ li {
	display: block;
}

.calendar a {
	text-decoration: none;
	margin: 0.3rem;
	padding: 0.3rem;
}

.calendar li > a:not(.more) {
	border: 1px solid var(--color-accent);
	display: block;
	height: 1.5rem;
	line-height: 1.5rem;
	overflow: hidden;
	padding: 0.1rem;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
}

a.more {
	color: var(--color-accent-subtle);
	font-size: 1rem;
}

.calendar li time {
	color: var(--color-accent-subtle);
	float: right;
	font-size: 1rem;
	line-height: 1.5rem;
	vertical-align: middle;
}

.calendar > .cell > .expander > time {
	margin-left: 0.5rem;
}

.day {
	display: none;
}

@media only screen and (max-width: 600px) {
	.calendar {
		grid-template-columns: 1fr;
	}

	.calendar > .header {
		display: none;
	}

	.day {
		display: inline;
	}

	.calendar > .cell li.more ~ li {
		display: block;
	}

	.calendar > .cell a.more {
		display: none;
	}

	.calendar > .cell:target .expander {
		background-color: var(--color-light-bg);
		border: 1px solid var(--color-accent-secondary);
		height: 100%;
		position: relative;
	}
}
