<footer>
	<a rel="license" href="https://creativecommons.org/licenses/by/4.0/"><img
									 alt="Creative Commons Attribution 4.0"
									 src="/images/ccby.png" /></a>
	<div>&copy; 2019 Corner Garage</div>
</footer>
