<link rel="apple-touch-icon" sizes="180x180" href="{{ "images/apple-touch-icon.png" | absURL }}"/>
<link rel="icon" type="image/png" sizes="180x180" href="{{ "images/apple-touch-icon.png" | absURL }}"/>
<link rel="icon" type="image/png" sizes="32x32" href="{{ "images/favicon-32x32.png" | absURL }}"/>
<link rel="icon" type="image/png" sizes="16x16" href="{{ "images/favicon-16x16.png" | absURL }}"/>
{{- with $manifest := resources.Get "site.webmanifest" | resources.ExecuteAsTemplate "site.webmanifest" . }}
<link rel="manifest" href="{{ $manifest.Permalink }}"/>
{{- end }}
{{- with .OutputFormats.Get "Atom" }}
<link href="{{ .Permalink }}" rel="alternate" type="application/atom+xml" title="{{ $.Site.Title }}"/>
<link href="{{ .Permalink }}" rel="feed" type="application/atom+xml" title="{{ $.Site.Title }}"/>
{{- end }}
{{- partial "calendarmeta.html" . }}
