<div class="calendar">
	<div class="header">Sunday</div>
	<div class="header">Monday</div>
	<div class="header">Tuesday</div>
	<div class="header">Wednesday</div>
	<div class="header">Thursday</div>
	<div class="header">Friday</div>
	<div class="header">Saturday</div>

	{{- $firstOfMonth := (printf "%s-01" (now.Format "2006-01") | time) }}
	{{- $lastOfMonth := ($firstOfMonth.AddDate 0 1 -1).Format "2" | int }}
	{{- range seq (printf "%d" $firstOfMonth.Weekday | int) }}
	<div class="null"></div>
	{{- end }}

	{{- range seq $lastOfMonth }}
	{{- $today := printf "%s-%02d" (now.Format "2006-01") . | time }}
	{{- $cid := dateFormat "2006-01-02" $today }}
	<div class="cell" id="{{$cid}}">
		<div class="expander">
		<time datetime="{{ $cid }}">
			<a href="#{{$cid}}">{{ printf "%02d" . }}</a> <span class="day">{{ dateFormat "Monday" $today }}</span>
		</time>
		<ul class="events">
			{{- range where ($.Pages.GroupByParamDate "start" "2006-01-02") "Key" $cid }}
			{{- $numEvents := len .Pages }}
			{{- range $idx, $page := .Pages }}
			{{- $start := .Params.start | time }}
			<li{{if eq $idx 1}} class="more"{{end}}>
				<a href="{{ .Permalink }}" title="{{ .Title }}">
					<time datetime="{{ dateFormat "2006-01-02T15:04:05Z07:00" $start }}">
						{{- dateFormat "15:04" $start -}}
					</time>
					<span>{{ .Title }}</span>
				</a>
				{{- if and (eq $idx 1) (gt $numEvents 2) }}
				<a class="more" href="#{{$cid}}">More</a>
				{{- end }}
			</li>
			{{- end }}
			{{- end }}
		</ul>
		</div>
	</div>
	{{- end }}
</div>
{{- with .OutputFormats.Get "Calendar" }}
<a href="{{ .Permalink | safeURL }}" rel="alternate"><i class="fa fa-calendar-o" aria-hidden="true"></i></a>
{{- end }}
