<div class="content flex-row" style="justify-content: space-between">
	{{- range first 3 (where .Page.Site.RegularPages "Section" "post") }}
	<article>
		<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
		<p>{{ .Summary }}</p>
	</article>
	{{- end }}
</div>

<a class="button" href="/blog">Read more…</a>
