<iframe frameborder="0"
				scrolling="no"
				marginheight="0"
				marginwidth="0"
				title="Map with location"
				style="height: 350px; width: 100%; border: 1px solid var(--color-accent-subtle)"
				src="https://www.openstreetmap.org/export/embed.html?bbox=-84.56108684379927%2C33.60460658096777%2C-84.29466838676802%2C33.92654889910209&amp;layer=mapnik"></iframe>
<br/>
<a style="font-size: small" href="https://www.openstreetmap.org/#map=11/33.7674/-84.4203">View Larger Map</a>
